{% extends "template.html" %}
{% block title %}
    Input
{% endblock %}

{% block main %}
<div class="container">
    <div class="section">
        <h2>Personal Information</h2>
        <form action="/" method="post">
            <!--Required Fields-->
            <div class="input-group">
                <span class="input-group-text">First Middle and Last Name</span>
                <input type="text" id="fname" aria-label="fname" class="form-control" name="fname" required>
                <input type="text" id="mname" aria-label="mname" class="form-control" name="mname" required>
                <input type="text" id="lname" aria-label="lname" class="form-control" name="lname" required>
            </div><br>
            <label class="input-group-text" for="uname" class="form-label">Preferred User Name</label>
            <input type="text" id="uname" class="form-control" name="uname" required><br>
            <label class="input-group-text" for="address" class="form-label">Address</label>
            <input type="text" id="address" class="form-control" name="address" required><br>
            
            <label class="input-group-text" for="region" class="form-label">Region</label>
            
            <select id="region" name="region" class="form-select" required></select><br>
            
            <label class="input-group-text" for="province" class="form-label">Province</label>
            <select id="province" name="province" class="form-select" required></select><br>
            
            <label class="input-group-text" for="city" class="form-label">City</label>
            <select id="city" name="city" class="form-select" required></select><br>
            
            <label class="input-group-text" for="barangay" class="form-label">Barangay</label>
            <select id="barangay" name="barangay" class="form-select" required></select><br>
            
            <label class="input-group-text" for="postal" class="form-label">Postal Code</label>
            <input type="number" id="postal" class="form-control" name="postal" min="400" max="9811" required><br>
            <label class="input-group-text" for="phone" class="form-label">Phone Number</label>
            <input type="tel" id="phone" class="form-control" name="phone" pattern="^(09|\+639)\d{9}$" required><br>
            <label class="input-group-text" for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required><br>
            <!--Non Required Fields-->
            <p>Gender:</p>
            <div class="section">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="M">
                    <label class="form-check-label" for="male">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="F">
                    <label class="form-check-label" for="female">
                        Female
                    </label>
                </div>
            </div><br>
            <label for="bdate" class="form-label">Date of Birth</label>
            <input type="date" id="bdate" class="form-control" name="bdate"><br>
            <label for="bplace" class="form-label">Place of Birth</label>
            <input type="text" id="bplace" class="form-control" name="bplace"><br>
            <!-- snippet lifted from https://gist.github.com/didats/8154290-->
            <div class="form-group">
                <label for="nationality">Nationality</label>
                <select class="form-control" id="nationality" name="nationality">
                    <option value="">-- select one --</option>
                    <option value="afghan">Afghan</option>
                    <option value="albanian">Albanian</option>
                    <option value="algerian">Algerian</option>
                    <option value="american">American</option>
                    <option value="andorran">Andorran</option>
                    <option value="angolan">Angolan</option>
                    <option value="antiguans">Antiguans</option>
                    <option value="argentinean">Argentinean</option>
                    <option value="armenian">Armenian</option>
                    <option value="australian">Australian</option>
                    <option value="austrian">Austrian</option>
                    <option value="azerbaijani">Azerbaijani</option>
                    <option value="bahamian">Bahamian</option>
                    <option value="bahraini">Bahraini</option>
                    <option value="bangladeshi">Bangladeshi</option>
                    <option value="barbadian">Barbadian</option>
                    <option value="barbudans">Barbudans</option>
                    <option value="batswana">Batswana</option>
                    <option value="belarusian">Belarusian</option>
                    <option value="belgian">Belgian</option>
                    <option value="belizean">Belizean</option>
                    <option value="beninese">Beninese</option>
                    <option value="bhutanese">Bhutanese</option>
                    <option value="bolivian">Bolivian</option>
                    <option value="bosnian">Bosnian</option>
                    <option value="brazilian">Brazilian</option>
                    <option value="british">British</option>
                    <option value="bruneian">Bruneian</option>
                    <option value="bulgarian">Bulgarian</option>
                    <option value="burkinabe">Burkinabe</option>
                    <option value="burmese">Burmese</option>
                    <option value="burundian">Burundian</option>
                    <option value="cambodian">Cambodian</option>
                    <option value="cameroonian">Cameroonian</option>
                    <option value="canadian">Canadian</option>
                    <option value="cape verdean">Cape Verdean</option>
                    <option value="central african">Central African</option>
                    <option value="chadian">Chadian</option>
                    <option value="chilean">Chilean</option>
                    <option value="chinese">Chinese</option>
                    <option value="colombian">Colombian</option>
                    <option value="comoran">Comoran</option>
                    <option value="congolese">Congolese</option>
                    <option value="costa rican">Costa Rican</option>
                    <option value="croatian">Croatian</option>
                    <option value="cuban">Cuban</option>
                    <option value="cypriot">Cypriot</option>
                    <option value="czech">Czech</option>
                    <option value="danish">Danish</option>
                    <option value="djibouti">Djibouti</option>
                    <option value="dominican">Dominican</option>
                    <option value="dutch">Dutch</option>
                    <option value="east timorese">East Timorese</option>
                    <option value="ecuadorean">Ecuadorean</option>
                    <option value="egyptian">Egyptian</option>
                    <option value="emirian">Emirian</option>
                    <option value="equatorial guinean">Equatorial Guinean</option>
                    <option value="eritrean">Eritrean</option>
                    <option value="estonian">Estonian</option>
                    <option value="ethiopian">Ethiopian</option>
                    <option value="fijian">Fijian</option>
                    <option value="filipino">Filipino</option>
                    <option value="finnish">Finnish</option>
                    <option value="french">French</option>
                    <option value="gabonese">Gabonese</option>
                    <option value="gambian">Gambian</option>
                    <option value="georgian">Georgian</option>
                    <option value="german">German</option>
                    <option value="ghanaian">Ghanaian</option>
                    <option value="greek">Greek</option>
                    <option value="grenadian">Grenadian</option>
                    <option value="guatemalan">Guatemalan</option>
                    <option value="guinea-bissauan">Guinea-Bissauan</option>
                    <option value="guinean">Guinean</option>
                    <option value="guyanese">Guyanese</option>
                    <option value="haitian">Haitian</option>
                    <option value="herzegovinian">Herzegovinian</option>
                    <option value="honduran">Honduran</option>
                    <option value="hungarian">Hungarian</option>
                    <option value="icelander">Icelander</option>
                    <option value="indian">Indian</option>
                    <option value="indonesian">Indonesian</option>
                    <option value="iranian">Iranian</option>
                    <option value="iraqi">Iraqi</option>
                    <option value="irish">Irish</option>
                    <option value="israeli">Israeli</option>
                    <option value="italian">Italian</option>
                    <option value="ivorian">Ivorian</option>
                    <option value="jamaican">Jamaican</option>
                    <option value="japanese">Japanese</option>
                    <option value="jordanian">Jordanian</option>
                    <option value="kazakhstani">Kazakhstani</option>
                    <option value="kenyan">Kenyan</option>
                    <option value="kittian and nevisian">Kittian and Nevisian</option>
                    <option value="kuwaiti">Kuwaiti</option>
                    <option value="kyrgyz">Kyrgyz</option>
                    <option value="laotian">Laotian</option>
                    <option value="latvian">Latvian</option>
                    <option value="lebanese">Lebanese</option>
                    <option value="liberian">Liberian</option>
                    <option value="libyan">Libyan</option>
                    <option value="liechtensteiner">Liechtensteiner</option>
                    <option value="lithuanian">Lithuanian</option>
                    <option value="luxembourger">Luxembourger</option>
                    <option value="macedonian">Macedonian</option>
                    <option value="malagasy">Malagasy</option>
                    <option value="malawian">Malawian</option>
                    <option value="malaysian">Malaysian</option>
                    <option value="maldivan">Maldivan</option>
                    <option value="malian">Malian</option>
                    <option value="maltese">Maltese</option>
                    <option value="marshallese">Marshallese</option>
                    <option value="mauritanian">Mauritanian</option>
                    <option value="mauritian">Mauritian</option>
                    <option value="mexican">Mexican</option>
                    <option value="micronesian">Micronesian</option>
                    <option value="moldovan">Moldovan</option>
                    <option value="monacan">Monacan</option>
                    <option value="mongolian">Mongolian</option>
                    <option value="moroccan">Moroccan</option>
                    <option value="mosotho">Mosotho</option>
                    <option value="motswana">Motswana</option>
                    <option value="mozambican">Mozambican</option>
                    <option value="namibian">Namibian</option>
                    <option value="nauruan">Nauruan</option>
                    <option value="nepalese">Nepalese</option>
                    <option value="new zealander">New Zealander</option>
                    <option value="ni-vanuatu">Ni-Vanuatu</option>
                    <option value="nicaraguan">Nicaraguan</option>
                    <option value="nigerien">Nigerien</option>
                    <option value="north korean">North Korean</option>
                    <option value="northern irish">Northern Irish</option>
                    <option value="norwegian">Norwegian</option>
                    <option value="omani">Omani</option>
                    <option value="pakistani">Pakistani</option>
                    <option value="palauan">Palauan</option>
                    <option value="panamanian">Panamanian</option>
                    <option value="papua new guinean">Papua New Guinean</option>
                    <option value="paraguayan">Paraguayan</option>
                    <option value="peruvian">Peruvian</option>
                    <option value="polish">Polish</option>
                    <option value="portuguese">Portuguese</option>
                    <option value="qatari">Qatari</option>
                    <option value="romanian">Romanian</option>
                    <option value="russian">Russian</option>
                    <option value="rwandan">Rwandan</option>
                    <option value="saint lucian">Saint Lucian</option>
                    <option value="salvadoran">Salvadoran</option>
                    <option value="samoan">Samoan</option>
                    <option value="san marinese">San Marinese</option>
                    <option value="sao tomean">Sao Tomean</option>
                    <option value="saudi">Saudi</option>
                    <option value="scottish">Scottish</option>
                    <option value="senegalese">Senegalese</option>
                    <option value="serbian">Serbian</option>
                    <option value="seychellois">Seychellois</option>
                    <option value="sierra leonean">Sierra Leonean</option>
                    <option value="singaporean">Singaporean</option>
                    <option value="slovakian">Slovakian</option>
                    <option value="slovenian">Slovenian</option>
                    <option value="solomon islander">Solomon Islander</option>
                    <option value="somali">Somali</option>
                    <option value="south african">South African</option>
                    <option value="south korean">South Korean</option>
                    <option value="spanish">Spanish</option>
                    <option value="sri lankan">Sri Lankan</option>
                    <option value="sudanese">Sudanese</option>
                    <option value="surinamer">Surinamer</option>
                    <option value="swazi">Swazi</option>
                    <option value="swedish">Swedish</option>
                    <option value="swiss">Swiss</option>
                    <option value="syrian">Syrian</option>
                    <option value="taiwanese">Taiwanese</option>
                    <option value="tajik">Tajik</option>
                    <option value="tanzanian">Tanzanian</option>
                    <option value="thai">Thai</option>
                    <option value="togolese">Togolese</option>
                    <option value="tongan">Tongan</option>
                    <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                    <option value="tunisian">Tunisian</option>
                    <option value="turkish">Turkish</option>
                    <option value="tuvaluan">Tuvaluan</option>
                    <option value="ugandan">Ugandan</option>
                    <option value="ukrainian">Ukrainian</option>
                    <option value="uruguayan">Uruguayan</option>
                    <option value="uzbekistani">Uzbekistani</option>
                    <option value="venezuelan">Venezuelan</option>
                    <option value="vietnamese">Vietnamese</option>
                    <option value="welsh">Welsh</option>
                    <option value="yemenite">Yemenite</option>
                    <option value="zambian">Zambian</option>
                    <option value="zimbabwean">Zimbabwean</option>
                </select>
            </div><br>
            <p>Civil Status:</p>
            <div class="section">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="civil" id="married" value="M">
                    <label class="form-check-label" for="married">
                        Married
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="civil" id="single" value="S">
                    <label class="form-check-label" for="single">
                        Single
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="civil" id="divorced" value="D">
                    <label class="form-check-label" for="divorced">
                        Divorced
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="civil" id="widowed" value="W">
                    <label class="form-check-label" for="widowed">
                        Widowed
                    </label>
                </div>
            </div>
            <label for="maiden" class="form-label">Mother's Maiden Name</label>
            <input type="text" id="maiden" class="form-control" name="maiden"><br>
            <p>Employment Status:</p>
            <div class="section">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="employment" id="employed" value="1">
                    <label class="form-check-label" for="employed">
                        Employed
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="employment" id="consultant" value="2">
                    <label class="form-check-label" for="consultant">
                        Consultant
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="employment" id="selfemployed" value="3">
                    <label class="form-check-label" for="selfemployed">
                        Self employed with own business
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="employment" id="freelance" value="4">
                    <label class="form-check-label" for="freelance">
                        Self employed as online freelance
                    </label>
                </div>
            </div>
            <label for="company" class="form-label">Employer / Company</label>
            <input type="text" id="company" class="form-control" name="company"><br>
            <p>Source of Funding:</p>
            <div class="section">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="funding" id="allowance" value="1">
                    <label class="form-check-label" for="allowance">
                        Allowance
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="funding" id="business" value="2">
                    <label class="form-check-label" for="business">
                        Business Profit
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="funding" id="commissions" value="3">
                    <label class="form-check-label" for="commissions">
                        Commissions
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="funding" id="inheritance" value="4">
                    <label class="form-check-label" for="inheritance">
                        Inheritance
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="funding" id="loan" value="5">
                    <label class="form-check-label" for="loan">
                        Loan
                    </label>
                </div>
            </div><br>
            <!--Health Questions-->
            <h2>Health Declaration</h2>
            <div class="section">
                <p>Have you experienced any of the following?:</p>
                <div>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="q1a">
                            a. Sore throat (pananakit ng lalamunan)
                        </label>
                        <input class="form-check-input" type="checkbox" role="switch" id="q1a" name="q1a">
                    </div><br>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="q1b">
                            b. Body pains (pananakit ng katawan)
                        </label>
                        <input class="form-check-input" type="checkbox" role="switch" id="q1b" name="q1b">
                    </div><br>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="q1c">
                            c. Headache (sakit ng ulo)
                        </label>
                        <input class="form-check-input" type="checkbox" role="switch" id="q1c" name="q1c">
                    </div><br>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="q1d">
                            d. Fever the past few days (lagnat sa nakalipas na araw)
                        </label>
                        <input class="form-check-input" type="checkbox" role="switch" id="q1d" name="q1d">
                    </div><br>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="q1e">
                            e. Cough or colds (ubo o sipon)
                        </label>
                        <input class="form-check-input" type="checkbox" role="switch" id="q1e" name="q1e">
                    </div><br>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="q1f">
                            f. Shortness of breath (hinahabol ang paghinga)
                        </label>
                        <input class="form-check-input" type="checkbox" role="switch" id="q1f" name="q1f">
                    </div><br>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="q1g">
                            g. Diarrhea (pagtatae)
                        </label>
                        <input class="form-check-input" type="checkbox" role="switch" id="q1g" name="q1g">
                    </div><br>
                </div>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="q2">
                        Have you worked together or stayed in the same close environment of a confirmed
                        COVID-19 case? (May nakasama ka ba o nakatrabahong tao na kumpirmadong may
                        COVID-19 o coronavirus?)
                    </label>
                    <input class="form-check-input" type="checkbox" role="switch" id="q2" name="q2">
                </div><br>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="q3">
                        Have you had any contact with anyone with fever, cough, colds, and sore throat
                        the past 2 weeks? (Mayroon ka bang nakasama na may lagnat, ubo, sipon o sakit ng
                        lalamunan sa nakalipas na 2 linggo?)
                    </label>
                    <input class="form-check-input" type="checkbox" role="switch" id="q3" name="q3">
                </div><br>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="q4">
                        Have you travelled outside the Philippines in the last 14 days? (Ikaw ba ay nagbiyahe sa
                        labas ng Pilipinas sa nakalipas na 14 na araw?)
                    </label>
                    <input class="form-check-input" type="checkbox" role="switch" id="q4" name="q4">
                </div><br>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="q5a">
                        Have you travelled to any areas in NCR aside from your home? (Ikaw ba ay nagpunta
                        sa ibang parte ng NCR o Metro Manila bukod sa iyong bahay?) Specify where if your
                        answer is yes. (Sabihin kung saan kung ang sagot mo ay oo.)
                    </label>
                    <input class="form-check-input" type="checkbox" role="switch" id="q5a" name="q5a">
                    <input type="text" id="q5b" class="form-control" name="q5b" placeholder="Location">
                </div><br>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="q6">
                        I am a PWD
                    </label>
                    <input class="form-check-input" type="checkbox" role="switch" id="q6" name="q6">
                </div><br>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="q7">
                        I am pregnant
                    </label>
                    <input class="form-check-input" type="checkbox" role="switch" id="q7" name="q7">
                </div><br>
                <div class="form-check">
                    <label class="form-check-label" for="auth">
                        I hereby authorize KDR Adventure camp to collect and process the data indicated in
                        survey for the purpose of effecting control of the COVID-19 infection. I understand
                        that my personal information is protected by RA 10173, Data Privacy Act of 2012, that
                        I am required by RA 11469, Bayanihan to Heal As One Act, to provide truthful information
                        and that this health declaration is in accordance with memoranda issued by various
                        government institutions, including the Joint Memorandum Circular No. 20-04-A
                        Series 2020 by the Department of Trade and Industry and the Department of Labor and
                        Employment, Memorandum Circular No. 2020-004 by the Department of Tourism,
                        and Memorandum Circular No 2020-077 by the Department of Interior and Local
                        Government.
                    </label>
                    <input class="form-check-input" type="checkbox" value="Agree" id="auth" name="auth" required>
                </div><br>
            </div><br>
            <button type="submit" class="btn btn-outline-info" value="Add">Add Guest</button>
        </form>
    </div>
    <div>
        //
    </div>
</div>
{% endblock %}